.container {
  max-width: 1440px;
  padding-top: 195px;
  padding-bottom: 189px;
  background-color: #131518;
}
.window {
  width: 100%;
  max-width: 416px;
  height: 412px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  margin: 0 auto;
  border-radius: 30px;
  padding: 32px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #262e38;
}
.star-icon {
  display: block;
  max-width: 16px;
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  max-width: 340px;
  height: 122px;
  margin-top: 30px;
}
.window-title {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  max-width: 199px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-text {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 400;
  color: #969fad;
  line-height: 24px;
}

.footer {
  margin-top: 24px;
  height: 128px;
  width: 100%;
  max-width: 340px;
}
button {
  width: 100%;
  border: none;
  cursor: pointer;
}
.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 340px;
  height: 51px;
}
.button-varies {
  height: 51px;
  max-width: 51px;
  border-radius: 50%;
  background-color: #262e38;
  color: #7c8798;
}
.button-varies:hover {
  background-color: #fc7614;
  color: #ffffff;
}
.submit {
  margin-top: 32px;
  height: 45px;
  max-width: 340px;
  background-color: #fc7614;
  border-radius: 22.5px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.submit:hover {
  background-color: #ffffff;
  color: #fc7614;
}
